@using MarketingAds.Models;
@using MarketingAdsLibrary.Services;
@inject ImageUploadService imageUploadService
@inject ProductService productService

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Update Category</h5>
            <button type="button" class="btn-close" aria-label="Close" @onclick="hideUpdate"></button>
        </div>
        <div class="modal-body">
            <RadzenTemplateForm Data="@updateProduct" TItem="Listing" Submit="@UpdateProductBtn">
                <div class="rz-p-0 rz-p-md-12">
                    <RadzenRow Gap="1rem">
                        <RadzenColumn Size="12">
                            <RadzenStack>
                                <RadzenFormField Text="Product Name:" Variant="Variant.Filled">
                                    <ChildContent>
                                        <RadzenTextBox @bind-Value="updateProduct.Title" Name="ProductName" Required="true" Style="width: 100%;" />
                                    </ChildContent>
                                    <Helper>
                                        <RadzenRequiredValidator Component="ProductName" Text="Product name is required." />
                                    </Helper>
                                </RadzenFormField>
                                <RadzenFormField Text="Product Description:" Variant="Variant.Filled">
                                    <ChildContent>
                                        <RadzenTextBox @bind-Value="updateProduct.Description" Name="ProductDescription" Required="true" Style="width: 100%;" />
                                    </ChildContent>
                                    <Helper>
                                        <RadzenRequiredValidator Component="ProductDescription" Text="Product description is required." />
                                    </Helper>
                                </RadzenFormField>
                                <RadzenFormField Text="Product Price:" Variant="Variant.Filled">
                                    <ChildContent>
                                        <RadzenNumeric @bind-Value="updateProduct.Price" Name="ProductPrice" Required="true" Style="width: 100%;" />
                                    </ChildContent>
                                    <Helper>
                                        <RadzenRequiredValidator Component="ProductPrice" Text="Product price is required." />
                                    </Helper>
                                </RadzenFormField>
                                <RadzenFormField Text="Category:" Variant="Variant.Filled">
                                    <ChildContent>
                                        <RadzenDropDown @bind-Value="updateProduct.CategoryID" Data="@categoryOptions" TextProperty="CategoryName" ValueProperty="CategoryID" Name="CategoryID" Style="width: 100%;" Required="true" />
                                    </ChildContent>
                                    <Helper>
                                        <RadzenRequiredValidator Component="CategoryID" Text="Category is required." />
                                    </Helper>
                                </RadzenFormField>
                                <RadzenFormField Text="Location:" Variant="Variant.Filled">
                                    <ChildContent>
                                        <RadzenDropDown @bind-Value="updateProduct.LocationID" Data="@LocationOptions" TextProperty="LocationName" ValueProperty="LocationID" Name="LocationID" Style="width: 100%;" Required="true" />
                                    </ChildContent>
                                    <Helper>
                                        <RadzenRequiredValidator Component="LocationID" Text="Location is required." />
                                    </Helper>
                                </RadzenFormField>

                                <RadzenRadioButtonList @bind-Value=@updateProduct.Condition TValue="string">
                                    <Items>
                                        <RadzenRadioButtonListItem Text="Used" Value=@("Used") TValue="string" />
                                        <RadzenRadioButtonListItem Text="New" Value=@("New") TValue="string" />

                                        @*   <RadzenRadioButtonListItem Text="New" Value="2" /> *@
                                    </Items>
                                </RadzenRadioButtonList>

                                <InputFile OnChange="HandleFileUpload" />

                                <RadzenFormField Text="Status:" Variant="Variant.Filled">
                                    <ChildContent>
                                        <RadzenDropDown @bind-Value="updateProduct.StatusId" Data="@statusOptions" TextProperty="Name" ValueProperty="Id" Name="StatusId" Style="width: 100%;" Required="true" />
                                    </ChildContent>
                                    <Helper>
                                        <RadzenRequiredValidator Component="StatusId" Text="Status is required." />
                                    </Helper>
                                </RadzenFormField>
                                <RadzenButton Text="Update" ButtonStyle="ButtonStyle.Primary" Type="Submit" />
                            </RadzenStack>
                        </RadzenColumn>
                    </RadzenRow>

                </div>
            </RadzenTemplateForm>
        </div>


    </div>
</div>
@code {
    [Parameter]
    public Listing? updateProduct { get; set; }
    [Parameter]
    public EventCallback UpdateProductBtn { get; set; }
    [Parameter]
    public EventCallback hideUpdate { get; set; }
    [Parameter]
    public List<Status> statusOptions { get; set; }
    [Parameter]
    public List<Category>? categoryOptions { get; set; }
    [Parameter]
    public List<Location>? LocationOptions { get; set; }
    [Parameter]
    public EventCallback<string> ImagePathChanged { get; set; }
    public string imagePath{ get; set; }
    public Image image{ get; set; }
    private int _conditionValue;

    protected override async Task OnInitializedAsync()
    {
        if (updateProduct?.ListingID!=null){

            image = await imageUploadService.GetImagePath(updateProduct?.ListingID ?? 0);

        }

    }


    private async Task HandleFileUpload(InputFileChangeEventArgs e)
    {
        // image = await imageUploadService.GetImagePath(updateProduct?.ListingID ?? 0);
        // if (updateProduct?.ListingID!=null)
        // {
        //      productService.DeleteImageFromServer(image.ImageURL);
        // }
        var file = e.File;

        using (var stream = file.OpenReadStream())
        {
            var fileName = file.Name;
            var filePath = await imageUploadService.UploadImage(stream, fileName);
            imagePath = filePath;
            if (ImagePathChanged.HasDelegate)
            {
                await ImagePathChanged.InvokeAsync(imagePath);
            }

        }
    }
}
